@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}
body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", serif;
}
::-webkit-scrollbar{
  width: 0rem;
}
::-webkit-scrollbar-track {
  background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
::selection {
  background-color: var(--blue);
  color: var(--white);
}
.grid-coins{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem;
}
.selectedCoin{
  width: 92%;
  margin: 0.5rem auto;
}
.lineChart{
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
}
.Radiobuttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  padding-bottom: 2.5rem;
}
.combinedCoins{
  width: 93%;
  margin: auto;
  display: flex;
  gap: 0.5rem;
}